
.hero{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 400px;
    padding-bottom: 40px;
}


.hero-info h1{
    font-size: 4rem;
    line-height: 4.2rem;
}

.hero-info p{
    font-size: 1.6rem;
    line-height: 1.8rem;
}

.dishes{
    margin: 40px auto;
}

.dishes-container{
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 15px;
    margin-top: 40px;
}

.menu-container{
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 1fr;
    gap: 15px;
    margin-top: 40px;
    margin-bottom: 60px;
}

